.local-main {
    width: calc(100% - 363px);
    height: 100%;
    color: var(--Color-Light) !important;
    position: relative;
}

.local-main .group-info {
    width: 150px;
    margin: 1em 4em 0 auto;
    display: flex;
    justify-content: space-between;
}

.local-main .group-info button {
    color: var(--Color-Light) !important;
}

.local-main .group-info button:hover {
    transition: all 0.2s ease-out;
    color: var(--Purple-Dark) !important;
}
.local-main .group-info .ring,
.local-main .group-info .store{
    position: relative;
}
.local-main .group-info .sl-store{
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    font-size: .8em;
    border-radius: 50%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--Purple-Dark);
    background-color: var(--Color-Light);

    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.local-main .inputSearch {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 382px;
    height: 46px;

    overflow: hidden;
    margin: 40px 0 0 71px;
    border-radius: 15px;
    color: var(--Color-Light) !important;
    background: var(--Gray-Ico);
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.local-main .inputSearch button {
    width: 20%;
    font-size: 1.7em;
    font-weight: bold;
    color: var(--Color-Gray);
}

.local-main .inputSearch input {
    width: 77%;
    height: 80%;
    outline: none;
    border: none;
    font-size: larger;
    background: inherit;
    color: inherit;
}

.local-main .group-new {
    width: 80%;
    height: 250px;
    margin: 2em 71px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    border-radius: 15px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    transition: all .3s;
    background-image: radial-gradient(ellipse at top,
            #DA00FE 10%,
            #A100ED);
}

.local-main .group-new .group-radio{
    position: absolute;
    bottom: .2em;
}

.local-main .group-new .new-item {
    width: 100%;
    display: flex;
}

.local-main .group-new .new-item .container-title .title {
    margin: .3em 0;
    font-size: 1.8em;
}

.local-main .group-new .new-item .container-title .title-2 {
    margin: .3em 0 2em 0;
    user-select: none;
}

.local-main .group-new .new-item .container-title button span {
    user-select: none;
    margin-left: 0.4em;
}

.local-main .group-new .new-item>div {
    width: 50%;
    display: flex;
    align-items: center;
}

.local-main .group-new .new-item>div:first-child {
    width: 45%;
    padding-left: 1em;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.local-main .group-new .new-item img {
    object-fit: fill;
    width: 110%;
    user-select: none;
}

.Product {
    width: calc(100% - 71px);
    margin-left: 71px;
}
.Product>.header{
    user-select: none;
    font-size: 2em;
}

.Product .product-position{
    width: 50%;
    height: 50px;
    margin: .5em 0 .8em;
    display: flex;
}
.Product .product-position button{
    text-transform: capitalize;
    color: var(--Color-Light);
    height: 60%;
    margin: 0 .2em;
    border-radius: 17px;
    border: 1px solid var(--Gray-Ico-2);
}
.Product .product-position button>span{
    margin: 0 !important;
}
.Product .product-position button.fillter{
    border-radius: 10px;
    color: var(--Purple-Dark);
    border-color: var(--Purple-Light);
}
.Product .product-position button.active{
    border-color: var(--Purple-Light);
    background: var(--Purple-Dark);
}
.Product .product-position button span{
    margin: 0 .3em;
}
.Product .product-list-items{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.Product .product-list-items .component-card{
    width: 23%;
    height: 300px;
    margin: 5px;
    border-radius: 15px;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    color: var(--Color-Light) !important;
    background: var(--Gray-Ico-2);
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.Product .product-list-items .component-card div{
    text-transform: capitalize;
    padding-left: 1em;
}
.Product .product-list-items .component-card div.name-item{
    font-size: 1.2em;
}
.Product .product-list-items .component-card div.type-item{
    user-select: none;
    opacity: .7;
    color: var(--Color-Gray);
}
.Product .product-list-items .component-card div.price-item{
    user-select: none;
    color: var(--Purple-Light);
    font-weight: 600;
}
.Product .product-list-items .component-card img{
    object-fit: contain;
    width: 100%;
    height: 50%;
}